body {
  padding-top: 4.5rem;
  background-color: #C67a5d;
}

.main-talk-bg-color {
  background-color: #f4f3ef;
}

.talks-with-tee-title {
  font-family: 'Allura', cursive;
}

.home-page-title {
  font-family: 'MonteCarlo', cursive;
  text-decoration: underline;
  font-size: 5rem;
}

.navbar-brand {
  font-size: 2rem;
}

.tt-navbar-bg {
  background-color: #DEB887;
}
